/* Basic reset */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-color:#6d28d9; 
  background-size: cover;
}


/* ---- NAVIGATION BAR ---- */
.navbar {
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #6d28d9, #7c3aed); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}


.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  
  height: 42px;
  width: 60px;
  border-radius: 0%;
  margin-right: 10px;
}

.logo-name {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}


.nav-right a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.2s ease;
}

.nav-right a:hover {
  color: #d8b4fe; 
}


.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); 
  margin-top: 70px; 
}
